server:
  forward-headers-strategy: framework

spring:
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
      region:
        static: ${AWS_REGION}
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: org.postgresql.Driver
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    username: ${DB_USERNAME}
  flyway:
    baseline-description: "Baseline existing schema"
    baseline-on-migrate: false
    baseline-version: 1
    enabled: true
    locations: classpath:db/migration
    schemas: public
  jackson:
    time-zone: Asia/Seoul
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100
        jdbc:
          time_zone: UTC
  mail:
    host: smtp.gmail.com
    password: ${GMAIL_PASSWORD}
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    username: ${GMAIL}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 12MB
  web:
    resources:
      add-mappings: false

app:
  s3:
    bucket: ${AWS_TEST_RESOURCE_BUCKET}

google:
  client-id: ${GOOGLE_CLIENT_ID}
  client-secret: ${GOOGLE_CLIENT_SECRET}
  redirect-uri: ${GOOGLE_REDIRECT_URI}

jwt:
  googleIssuer: ${GOOGLE_ISSUER}
  secretKey: ${SECRET_KEY}
  selfIssuer: ${SELF_ISSUER}

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
