server:
  forward-headers-strategy: framework

spring:
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
      region:
        static: ${AWS_REGION}
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: org.postgresql.Driver
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    username: ${DB_USERNAME}
  flyway:
    baseline-description: "Baseline existing schema"
    baseline-on-migrate: true
    baseline-version: 1
    enabled: true
    locations: classpath:db/migration
    schemas: public
    ignore-migration-patterns:
  jackson:
    time-zone: Asia/Seoul
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100
        jdbc:
          time_zone: UTC
  mail:
    host: smtp.gmail.com
    password: ${GMAIL_PASSWORD}
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    username: ${GMAIL}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 12MB
  web:
    resources:
      add-mappings: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

app:
  s3:
    bucket: ${AWS_TEST_RESOURCE_BUCKET}

google:
  client-id: ${GOOGLE_CLIENT_ID}

jwt:
  googleIssuer: ${GOOGLE_ISSUER}
  secretKey: ${SECRET_KEY}
  selfIssuer: ${SELF_ISSUER}
  audience: ${JWT_AUDIENCE}
  accessTokenValidity: ${JWT_ACCESS_TOKEN_VALIDITY:3600000}

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
